<div class="container">
    <form action="/restaurantes/create" method="post" id="form-restaurante" name="form-restaurante" enctype="multipart/form-data">
        <input type="hidden" value="{{ restaurante._id ? restaurante._id:" " }}" name="id">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="generales-tab" data-toggle="tab" href="#generales" role="tab" aria-controls="generales" aria-selected="true">Generales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="caracteristicas-tab" data-toggle="tab" href="#caracteristicas" role="tab" aria-controls="caracteristicas" aria-selected="false">Características</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mesas-tab" data-toggle="tab" href="#mesas" role="tab" aria-controls="mesas" aria-selected="false">Mesas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="fotos-tab" data-toggle="tab" href="#fotos" role="tab" aria-controls="fotos" aria-selected="false">Fotos</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="generales" role="tabpanel" aria-labelledby="generales-tab">
                <div class="form-group mb-2">
                    <label for="nombreRestaurante">Nombre del restaurante</label>
                    <input type="text" class="form-control" id="nombreRestauante" value="{{ restaurante.nombre ? restaurante.nombre:" " }}" name="nombre" placeholder="Nombre del restaurante" required="required">
                </div>
                <div class="form-group mb-2">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" placeholder="" required="required" rows="3">{{ restaurante.descripcion ? restaurante.descripcion:" " }}</textarea>
                </div>
                <div class="form-group mb-2">
                    <label for="Logotipo">Logotipo</label>
                    {% if restaurante.logotipo %}
                        {% if restaurante.logotipo != "" %}
                            <img width="300" height="100" src="/images/logos/{{ restaurante.logotipo }}">
                        {% endif %}
                    {% endif %}
                    <input type="file" class="form-control" id="Logotipo" name="logo">
                </div>
                <div class="form-group mb-2">
                    <div>
                        <label class="label">Categorías de restaurante</label>
                    </div>
                    {% for categoria in categorias %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="categorias" type="checkbox" {% if categoria._id in restaurante.categorias %} {{'checked'}} {% endif %} id="categoria-{{categoria._id}}" value="{{categoria._id}}">
                            <label class="form-check-label" for="categoria-{{categoria._id}}">{{categoria.nombre}}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group mb-2">
                    <div>
                        <label class="label">Tipos de comida ofertados</label>
                    </div>
                    {% for tipo in tipos %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="tipos" type="checkbox" {% if tipo._id in restaurante.tiposComida %} {{'checked'}} {% endif %} id="tipo-{{tipo._id}}" value="{{tipo._id}}">
                            <label class="form-check-label" for="tipo-{{tipo._id}}">{{tipo.nombre}}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group mb-2">
                    <label for="nombreRestaurante">Nombre de calle</label>
                    <input type="text" class="form-control" id="calle" value="{{ restaurante.domicilio.calle ? restaurante.domicilio.calle:" " }}" name="calle" placeholder="" required="required">
                </div>
                <div class="form-group mb-2">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" value="{{ restaurante.domicilio.numero ? restaurante.domicilio.numero:" " }}" name="numero" placeholder="calle" required="required">
                </div>
                <div class="form-group mb-2">
                    <label for="cp">Codigo postal</label>
                    <input type="text" class="form-control" id="cp" value="{{ restaurante.domicilio.cp ? restaurante.domicilio.cp:" " }}" name="cp" placeholder="" required="required">
                </div>
                <div class="form-group mb-2">
                    <label for="colonia">Colonia</label>
                    <input type="text" class="form-control" id="colonia" value="{{ restaurante.domicilio.colonia ? restaurante.domicilio.colonia:" " }}" name="colonia" placeholder="" required="required">
                </div>
                <div class="form-group mb-2">
                    <label for="Ciudad">Ciudad</label>
                    <input type="text" class="form-control" id="Ciudad" value="{{ restaurante.domicilio.ciudad ? restaurante.domicilio.ciudad:" " }}" name="ciudad" placeholder="" required="required">
                </div>
                <div class="form-group mb-2">
                    <label for="Estado">Estado</label>
                    <input type="text" class="form-control" id="Estado" value="{{ restaurante.domicilio.estado ? restaurante.domicilio.estado:" " }}" name="estado" placeholder="" required="required">
                </div>
                <div class="form-group mb-2">
                    <label for="Pais">Pais</label>
                    <input type="text" class="form-control" id="Pais" value="{{ restaurante.domicilio.pais ? restaurante.domicilio.pais:" " }}" name="pais" placeholder="" required="required">
                </div>
            </div>
            <div class="tab-pane fade" id="caracteristicas" role="tabpanel" aria-labelledby="caracteristicas-tab">
                <div class="card">
                    <h5 class="card-header">Seleccione las características de su restaurante</h5>
                    <div class="card-body">

                        {% for caracteristica_inmueble in caracteristicas_inmueble %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="caracteristicasInmueble" {% if caracteristica_inmueble._id in restaurante.caracteristicasInmueble %} {{'checked'}} {% endif %} type="checkbox" id="caracteristica_inmueble-{{caracteristica_inmueble._id}}" value="{{caracteristica_inmueble._id}}">
                                <label class="form-check-label" for="caracteristica_inmueble-{{caracteristica_inmueble._id}}">{{caracteristica_inmueble.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Seleccione los servicios del restaurante</h5>
                    <div class="card-body">
                        {% for caracteristicas_servicio in caracteristicas_servicios %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="caracteristicasAreas" type="checkbox" {% if caracteristicas_servicio._id in restaurante.caracteristicasAreas %} {{'checked'}} {% endif %} id="caracteristicas_servicio-{{caracteristicas_servicio._id}}" value="{{caracteristicas_servicio._id}}">
                                <label class="form-check-label" for="caracteristicas_servicio-{{caracteristicas_servicio._id}}">{{caracteristicas_servicio.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Condiciones de servicio</h5>
                    <div class="card-body">
                        {% for condiciones in condiciones_list %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="caracteristicasAceptacion" {% if condiciones._id in restaurante.caracteristicasAceptacion %} {{'checked'}} {% endif %} type="checkbox" id="condiciones-{{condiciones._id}}" value="{{condiciones._id}}">
                                <label class="form-check-label" for="condiciones-{{condiciones._id}}">{{condiciones.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Formas de pago</h5>
                    <div class="card-body">
                        {% for forma_pago in formas_pago %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="caracteristicasPago" {% if forma_pago._id in restaurante.caracteristicasPago %} {{'checked'}} {% endif %} type="checkbox" id="forma_pago-{{forma_pago._id}}" value="{{forma_pago._id}}">
                                <label class="form-check-label" for="forma_pago-{{forma_pago._id}}">{{forma_pago.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Seleccione las opciones de venta para su restaurante</h5>
                    <div class="card-body">
                        {% for categoria in categorias_venta %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="caracteristicasVentas" {% if categoria._id in restaurante.caracteristicasVentas %} {{'checked'}} {% endif %} type="checkbox" id="categoria-{{categoria._id}}" value="{{categoria._id}}">
                                <label class="form-check-label" for="categoria-{{categoria._id}}">{{categoria.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-success mb-2">Guardar</button>
        </form>
    </div>

    <script>
        $('#form-restaurante').submit(function (e) {
            e.preventDefault();

            form = document.forms.namedItem("form-restaurante");
            oData = new FormData(form);

            var oReq = new XMLHttpRequest();
            oReq.open("POST", $(this).attr('action'), true);
            oReq.onload = function (oEvent) {
                if (oReq.status == 200) {
                    document.getElementById("form-restaurante").reset();
                    myGrid.clearAll();
                    myGrid.load("/restaurantes/data", "json");
                    CloseModal();
                    OK("Guardado");
                } else {
                    console.log("Error " + oReq.status + " occurred uploading your file.<br \/>");
                }
            };

            oReq.send(oData);
        });
    </script>