<div class="container">
    <form action="/restaurantes/create" method="post" id="form-restaurante" name="form-restaurante" enctype="multipart/form-data">
        <input type="hidden" value="{{ restaurante._id ? restaurante._id:" " }}" name="id" id="id_rest">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="generales-tab" data-toggle="tab" href="#generales" role="tab" aria-controls="generales" aria-selected="true">Generales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="caracteristicas-tab" data-toggle="tab" href="#caracteristicas" role="tab" aria-controls="caracteristicas" aria-selected="false">Características</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mesas-tab" data-toggle="tab" href="#mesas" role="tab" aria-controls="mesas" aria-selected="false">Mesas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="platillos-tab" data-toggle="tab" href="#platillos" role="tab" aria-controls="platillos" aria-selected="false">Platillos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="menus-tab" data-toggle="tab" href="#menus" role="tab" aria-controls="menus" aria-selected="false">Menús</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="fotos-tab" data-toggle="tab" href="#fotos" role="tab" aria-controls="fotos" aria-selected="false">Galería multimedia</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="generales" role="tabpanel" aria-labelledby="generales-tab">
                <div class="card">
                    <h5 class="card-header">Datos generales del restaurante</h5>
                    <div class="card-body">
                        <div class="form-group mb-2">
                            <label for="nombreRestaurante">Nombre del restaurante</label>
                            <input type="text" class="form-control" id="nombreRestauante" value="{{ restaurante.nombre ? restaurante.nombre:" " }}" name="nombre" placeholder="Nombre del restaurante" required="required">
                        </div>
                        <div class="form-group mb-2">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" placeholder="" required="required" rows="3">{{ restaurante.descripcion ? restaurante.descripcion:"" }}</textarea>
                        </div>
                        <div class="form-group mb-2">
                            <label for="Logotipo">Logotipo</label>
                            {% if restaurante.logotipo %}
                                {% if restaurante.logotipo != "" %}
                                    <img width="300" height="100" src="/images/logos/{{ restaurante.logotipo }}">
                                {% endif %}
                            {% endif %}
                            <input type="file" class="form-control" id="Logotipo" name="logo">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Categorías de restaurante</h5>
                    <div class="card-body">
                        <div class="form-group mb-2">
                            {% for categoria in categorias %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="categorias" type="checkbox" {% if categoria._id in restaurante.categorias %} {{'checked'}} {% endif %} id="categoria-{{categoria._id}}" value="{{categoria._id}}">
                                    <label class="form-check-label" for="categoria-{{categoria._id}}">{{categoria.nombre}}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Tipos de comida ofertados</h5>
                    <div class="card-body">
                        <div class="form-group mb-2">
                            {% for tipo in tipos %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="tipos" type="checkbox" {% if tipo._id in restaurante.tiposComida %} {{'checked'}} {% endif %} id="tipo-{{tipo._id}}" value="{{tipo._id}}">
                                    <label class="form-check-label" for="tipo-{{tipo._id}}">{{tipo.nombre}}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row col-12">

                    <div class="card col-6">
                        <h5 class="card-header">Domicilio</h5>
                        <div class="card-body">
                            <div class="form-group mb-2">
                                <label for="Pais">Pais</label>
                                <input type="text" class="form-control address" id="Pais" value="{{ restaurante.domicilio.pais ? restaurante.domicilio.pais:" " }}" name="pais" placeholder="" required="required">
                            </div>
                            <div class="form-group mb-2">
                                <label for="Estado">Estado</label>
                                <input type="text" class="form-control address" id="Estado" value="{{ restaurante.domicilio.estado ? restaurante.domicilio.estado:" " }}" name="estado" placeholder="" required="required">
                            </div>
                            <div class="form-group mb-2">
                                <label for="Ciudad">Ciudad</label>
                                <input type="text" class="form-control address" id="Ciudad" value="{{ restaurante.domicilio.ciudad ? restaurante.domicilio.ciudad:" " }}" name="ciudad" placeholder="" required="required">
                            </div>
                            <div class="form-group mb-2">
                                <label for="colonia">Colonia</label>
                                <input type="text" class="form-control address" id="colonia" value="{{ restaurante.domicilio.colonia ? restaurante.domicilio.colonia:" " }}" name="colonia" placeholder="" required="required">
                            </div>
                            <div class="form-group mb-2">
                                <label for="nombreRestaurante">Nombre de calle</label>
                                <input type="text" class="form-control address" id="calle" value="{{ restaurante.domicilio.calle ? restaurante.domicilio.calle:" " }}" name="calle" placeholder="" required="required">
                            </div>
                            <div class="form-group mb-2">
                                <label for="numero">Número</label>
                                <input type="text" class="form-control address" id="numero" value="{{ restaurante.domicilio.numero ? restaurante.domicilio.numero:" " }}" name="numero" placeholder="calle" required="required">
                            </div>
                            <div class="form-group mb-2">
                                <label for="cp">Codigo postal</label>
                                <input type="text" class="form-control address" id="cp" value="{{ restaurante.domicilio.cp ? restaurante.domicilio.cp:" " }}" name="cp" placeholder="" required="required">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="" id="Coordenadas" name="Coordenadas">
                    <div class="card col-6">
                        <h5 class="card-header">Ubicación</h5>
                        <div class="card-body" id="map"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="caracteristicas" role="tabpanel" aria-labelledby="caracteristicas-tab">
                <div class="card">
                    <h5 class="card-header">Características</h5>
                    <div class="card-body">

                        {% for caracteristica_inmueble in caracteristicas_inmueble %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="caracteristicasInmueble" {% if caracteristica_inmueble._id in restaurante.caracteristicasInmueble %} {{'checked'}} {% endif %} type="checkbox" id="caracteristica_inmueble-{{caracteristica_inmueble._id}}" value="{{caracteristica_inmueble._id}}">
                                <label class="form-check-label" for="caracteristica_inmueble-{{caracteristica_inmueble._id}}">{{caracteristica_inmueble.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Seleccione los servicios del restaurante</h5>
                    <div class="card-body">
                        {% for caracteristicas_servicio in caracteristicas_servicios %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="caracteristicasAreas" type="checkbox" {% if caracteristicas_servicio._id in restaurante.caracteristicasAreas %} {{'checked'}} {% endif %} id="caracteristicas_servicio-{{caracteristicas_servicio._id}}" value="{{caracteristicas_servicio._id}}">
                                <label class="form-check-label" for="caracteristicas_servicio-{{caracteristicas_servicio._id}}">{{caracteristicas_servicio.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Condiciones de servicio</h5>
                    <div class="card-body">
                        {% for condiciones in condiciones_list %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="caracteristicasAceptacion" {% if condiciones._id in restaurante.caracteristicasAceptacion %} {{'checked'}} {% endif %} type="checkbox" id="condiciones-{{condiciones._id}}" value="{{condiciones._id}}">
                                <label class="form-check-label" for="condiciones-{{condiciones._id}}">{{condiciones.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Formas de pago</h5>
                    <div class="card-body">
                        {% for forma_pago in formas_pago %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="caracteristicasPago" {% if forma_pago._id in restaurante.caracteristicasPago %} {{'checked'}} {% endif %} type="checkbox" id="forma_pago-{{forma_pago._id}}" value="{{forma_pago._id}}">
                                <label class="form-check-label" for="forma_pago-{{forma_pago._id}}">{{forma_pago.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Seleccione las opciones de venta para su restaurante</h5>
                    <div class="card-body">
                        {% for categoria in categorias_venta %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="caracteristicasVentas" {% if categoria._id in restaurante.caracteristicasVentas %} {{'checked'}} {% endif %} type="checkbox" id="categoria-{{categoria._id}}" value="{{categoria._id}}">
                                <label class="form-check-label" for="categoria-{{categoria._id}}">{{categoria.nombre}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="mesas" role="tabpanel" aria-labelledby="mesas-tab">
                <div class="card">
                    <h5 class="card-header">Mesas del restaurante</h5>
                    <div class="card-body">
                        <div class="form-inline">
                            <div class="form-group col-sm-2">
                                <div>
                                    <label for="nombreMesa" class="">Nombre de mesa</label>
                                </div>
                                <input type="text" style="width:100%" class="form-control" id="nombreMesa" value="" name="nombreMesa">
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="noLugares" class="">Lugares</label>
                                <input type="number" style="width:70px" class="form-control" id="noLugares" placeholder="No. de lugares">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="descripcion_mesa" class="">Descripción</label>
                                <input type="text" class="form-control" id="descripcion_mesa" placeholder="Descripción de la mesa">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="foto_mesa" class="">Foto</label>
                                <input type="file" style="width:100%" class="form-control" id="foto_mesa" name="foto_mesa">
                            </div>
                            <button type="button" class="btn btn-primary" id="btnNuevaMesa">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header">
                        Mesas agregadas
                    </div>
                    <div class="card-body">
                        <div id="gridbox_mesas" style="width:100%; height:400px; background-color:white;"></div>
                    </div>
                    <div class="card-footer"></div>
                </div>

            </div>
            <div class="tab-pane fade" id="platillos" role="tabpanel" aria-labelledby="platillos-tab">
                <div class="card">
                    <h5 class="card-header">Platillos del restaurante</h5>
                    <div class="card-body">
                        <div class="form-inline">
                            <div class="form-group col-sm-2">
                                <div>
                                    <label for="nombrePlatillo" class="">Nombre del platillo</label>
                                </div>
                                <input type="text" style="width:100%" class="form-control" id="nombrePlatillo" value="" name="nombrePlatillo">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="descripcionPlatillo" class="">Descripción</label>
                                <input type="text" class="form-control" id="descripcionPlatillo" placeholder="Descripción del platillo">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="fotoPlatillo" class="">Foto</label>
                                <input type="file" style="width:100%" class="form-control" id="fotoPlatillo" name="fotoPlatillo">
                            </div>
                            <button type="button" class="btn btn-primary" id="btnNuevoPlatillo">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header">
                        Platillos agregadas
                    </div>
                    <div class="card-body">
                        <div id="gridbox_platillos" style="width:100%; height:400px; background-color:white;"></div>
                    </div>
                    <div class="card-footer"></div>
                </div>
                <script></script>

            </div>

        </div>

        <button type="submit" class="btn btn-success mb-2">Guardar</button>
    </form>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAKgM8G41K3GDGYlpUvLCA2FRBJw14wJg&libraries=places&language=es&region=MX&callback=initMap" async="async" defer="defer"></script>
<script>
    var id = $("#id_rest").val();
    var myGridPlatillos;
    function edit_platillo(id) {}

    function del_platillo(id_platillo) {
        Question("¿Desea borrar el platillo?", function () {
            Loading();
            $.get("/restaurantes/delete_platillo/" + id + "/" + id_platillo, function (data) {
                Ready();
                OK("Platillo borrado");
                myGridPlatillos.clearAll();
                myGridPlatillos.load("/restaurantes/platillos_data/" + id, "json");
            });
        });
    }

    myGridPlatillos = new dhtmlXGridObject('gridbox_platillos');
    myGridPlatillos.setImagePath("dhtmlx/codebase/imgs/");
    myGridPlatillos.setHeader("Borrar,Nombre,Descripción,Foto");
    myGridPlatillos.attachHeader("#cspan", "#text_filter", "#text_filter", "#cspan");
    myGridPlatillos.setInitWidths("50,*,*,*");
    myGridPlatillos.enableAutoWidth(true);
    myGridPlatillos.setColAlign("center,left,left,center");
    myGridPlatillos.setColTypes("ro,ro,ro,ro");
    myGridPlatillos.setColSorting("na,str,str,str");
    myGridPlatillos.init();
    myGridPlatillos.enableSmartRendering(true);
    {% if restaurante._id %}
        myGridPlatillos.load("/restaurantes/platillos_data/" + id, "json");
    {% endif %}
    var myGridMesas;
    function edit_mesa(id) {}

    function del_mesa(id_mesa) {
        Question("¿Desea borrar la mesa?", function () {
            Loading();
            $.get("/restaurantes/delete_mesa/" + id + "/" + id_mesa, function (data) {
                Ready();
                OK("Mesa borrada");
                myGridMesas.clearAll();
                myGridMesas.load("/restaurantes/mesas_data/" + id, "json");
            });
        });
    }

    myGridMesas = new dhtmlXGridObject('gridbox_mesas');
    myGridMesas.setImagePath("dhtmlx/codebase/imgs/");
    myGridMesas.setHeader("Borrar,Nombre,Lugares,Descripción,Foto");
    myGridMesas.attachHeader("#cspan", "#text_filter", "#text_filter", "#text_filter", "#cspan");
    myGridMesas.setInitWidths("50,*,*,*,*");
    myGridMesas.enableAutoWidth(true);
    myGridMesas.setColAlign("center,left,left,left,center");
    myGridMesas.setColTypes("ro,ro,ro,ro,ro");
    myGridMesas.setColSorting("na,str,str,str,str");
    myGridMesas.init();
    myGridMesas.enableSmartRendering(true);
    {% if restaurante._id %}
        myGridMesas.load("/restaurantes/mesas_data/" + id, "json");
    {% endif %}
    $('#mesas-tab').on('click', function (e) {
        if ($("#id_rest").val() == '') {
            Warning("¡Guarde los datos generales del restaurante!");
            e.preventDefault();
            return false;
        }
    });
    $('#platillos-tab').on('click', function (e) {
        if ($("#id_rest").val() == '') {
            Warning("¡Guarde los datos generales del restaurante!");
            e.preventDefault();
            return false;
        }
    });
    $('#btnNuevaMesa').on('click', function (e) {
        e.preventDefault();

        var nombreMesa = $("#nombreMesa").val();
        var noLugares = $("#noLugares").val();
        var descripcion_mesa = $("#descripcion_mesa").val();

        formData = new FormData(document.getElementById("foto_mesa"));
        formData.append('nombreMesa', nombreMesa);
        formData.append('noLugares', noLugares);
        formData.append('descripcion_mesa', descripcion_mesa);
        formData.append('id', id);
        formData.append('foto_mesa', $("input[name='foto_mesa']")[0].files[0]);
        var oReq = new XMLHttpRequest();
        oReq.open("POST", "/restaurantes/agregar_mesa", true);
        oReq.onload = function (oEvent) {
            if (oReq.status == 200) {
                $("#nombreMesa").val('');
                $("#noLugares").val('');
                $("#descripcion_mesa").val('');
                myGridMesas.clearAll();
                myGridMesas.load("/restaurantes/mesas_data/" + id, "json");
                OK("Mesa agregada");
            } else {
                console.log("Error " + oReq.status + " occurred uploading your file.<br \/>");
            }
        };

        oReq.send(formData);
    });

    $('#btnNuevoPlatillo').on('click', function (e) {
        e.preventDefault();

        var nombrePlatillo = $("#nombrePlatillo").val();
        var descripcionPlatillo = $("#descripcionPlatillo").val();

        formData = new FormData(document.getElementById("fotoPlatillo"));
        var id = $("#id_rest").val();
        formData.append('nombrePlatillo', nombrePlatillo);
        formData.append('descripcionPlatillo', descripcionPlatillo);
        formData.append('id', id);
        formData.append('fotoPlatillo', $("input[name='fotoPlatillo']")[0].files[0]);
        var oReq = new XMLHttpRequest();
        oReq.open("POST", "/restaurantes/agregar_platillo", true);
        oReq.onload = function (oEvent) {
            if (oReq.status == 200) {
                $("#nombrePlatillo").val('');
                $("#descripcionPlatillo").val('');
                myGridPlatillos.clearAll();
                myGridPlatillos.load("/restaurantes/platillos_data/" + id, "json");
                OK("Platillo agregado");
            } else {
                console.log("Error " + oReq.status + " occurred uploading your file.<br \/>");
            }
        };

        oReq.send(formData);
    });

    $('#form-restaurante').submit(function (e) {
        e.preventDefault();

        form = document.forms.namedItem("form-restaurante");
        oData = new FormData(form);

        var oReq = new XMLHttpRequest();
        oReq.responseType = 'json';
        oReq.open("POST", $(this).attr('action'), true);
        oReq.onload = function (oEvent) {

            if (oReq.status == 200) {
                id = this.response.msg;
                $("#id_rest").val(this.response.msg);
                myGrid.clearAll();
                myGrid.load("/restaurantes/data", "json");
                OK("Guardado");
            } else {
                console.log("Error " + oReq.status + " occurred uploading your file.<br \/>");
            }
        };

        oReq.send(oData);
    });

    function initMap() {
        //        var map_master= new google.maps();
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: {
                lat: 21.0326989,
                lng: -101.2514445
            }
        });
        var geocoder = new google.maps.Geocoder();

        $(".address").on('change', function () {
            geocodeAddress(geocoder, map);
        });
        {% if restaurante._id %}
            var myCenter = new google.maps.LatLng({{restaurante.coordenadas}});
        {% else %}
            var myCenter = new google.maps.LatLng(21.0326989, -101.2514445);
        {% endif %}

        var marker = new google.maps.Marker({position: myCenter, url: '/', draggable: true, animation: google.maps.Animation.DROP});

        google.maps.event.addListener(marker, "click", function () {
            console.log(this.getPosition());
            infowindow.setContent(this.html);
            infowindow.open(map, this);
            map.setCenter(this.getPosition());
            map.setZoom(17);
        });

        google.maps.event.addListener(marker, "dragend", function () {
            console.log(this.getPosition());
            map.setCenter(this.getPosition());
            map.setZoom(17);
        });

        marker.setMap(map);
        markers.push(marker);

    }
    var markers = [];
    function geocodeAddress(geocoder, resultsMap) {
        var estado = $("#Estado").val();
        var pais = $("#Pais").val();
        var ciudad = $("#Ciudad").val();
        var colonia = $("#colonia").val();
        var numero = $("#numero").val();
        var calle = $("#calle").val();
        var address = estado + ' ' + pais + ' ' + ciudad + ' ' + colonia + ' ' + calle + ' ' + numero;
        //        alert(address)
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status === 'OK') {
                deleteMarkers();
                setTimeout(function () {
                    deleteMarkers();
                    resultsMap.setCenter(results[0].geometry.location);
                    $("#Coordenadas").val(results[0].geometry.location.lat() + ',' + results[0].geometry.location.lng());
                    var marker = new google.maps.Marker({map: resultsMap, position: results[0].geometry.location, draggable: true, animation: google.maps.Animation.DROP});
                    markers.push(marker);
                }, 1000);

            } else {
                console.log('Lugar no encontrado por la siguiente razón: ' + status);
            }
        });
    }

    // Adds a marker to the map and push to the array.
    function addMarker(location) {
        var marker = new google.maps.Marker({position: location, map: map});
        markers.push(marker);
    }

    // Sets the map on all markers in the array.
    function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }

    // Removes the markers from the map, but keeps them in the array.
    function clearMarkers() {
        setMapOnAll(null);
    }

    // Shows any markers currently in the array.
    function showMarkers() {
        setMapOnAll(map);
    }

    // Deletes all markers in the array by removing references to them.
    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }
</script>